.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 80%;
  font-size: 23px;
  font-weight: bolder;
  padding: 18px;
  border: none;
  border-radius: 10px;
  background-color:  #ccc;
}

.new-user-btn {
  padding: 16px 36px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.new-user-btn:hover {
  background-color: #0056b3;
}
.user-table {
    width: 150%;
    background-color: #fff;
    box-shadow: 7px 7px 15px;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    color: #000;
  }
  .user-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th, .user-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid white;
  }
  
  .user-table th {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
  }
  
  .user-table td {
    color: #000;
  }
  
  .user-table tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .user-table .action-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .user-table .action-btn:hover {
    background-color: white;
    color: black;
  }
  