

<div class="user-table">
  <div class="toolbar">
    <input
      type="text"
      placeholder="Search users..."
      class="search-bar"
      (input)="onSearch($event)"
    />
    <button class="new-user-btn" (click)="onAddUser()">New User</button>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>Date Created</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Phone Number</th>
        <th>Customer Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td> {{ user.dateCreate }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.status }}</td>
        <td>{{ user.number }}</td>
        <td>{{ user.customerNumber }}</td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="actionMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionMenu="matMenu">
            <button mat-menu-item class="action-btn" (click)="onCreateQuote(user.id)">Create Quotation</button>
            <button mat-menu-item class="action-btn">View Quotation</button>
            <button mat-menu-item class="action-btn">View Info</button>
            <button mat-menu-item class="action-btn">Suspend User</button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>
