.navbar {
    display: flex;
    align-items: center;
    background: url("./../../../asset/bg3.jpg");
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
  }
  
  .nav-link:hover {
    text-decoration: underline;
    color: aqua;
  }
  
  .btn-logout {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: auto;
  }
  
  .btn-logout:hover {
    background-color: #fff;
    border: 2px solid #000000;
    color: #000000;
  }
  